* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body, #root {
    height: 100%;
    width: 100%;
  }
  
  body {
    font-family: Arial, sans-serif;
    background: #f6f5f7;
  }
  
  .App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }