body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    padding: 15px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none; 
    color: #2c5234; 
}

header img {
    width: 30px; 
    height: auto;
}

.logo {
    font-size: 35px;
    font-weight: bold;
    color: #2c5234;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-login {
    padding: auto;
    display: flex;
    align-items: center;
    gap: 5px;
}

.search-bar {
    background-color: #E2C9EF;
    padding: 10px;
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 450px; 
}

.search-bar img {   
    width: 30px;
    height: auto;
}

.search-bar input {
    width: 50%;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
}

.icon-shopping {
    padding: 10px;
    display: flex;
    gap: 10px; 
}

.icon-shopping img {
    width: 27px;
    height: auto;
}

.main-content {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    max-width: 700px;
    margin: 20px auto;
}

.book-image {
    flex: 0 0 300px;
    margin-right: 40px;
}

.book-image img {
    width: 100%;
    height: auto;
}

.info-content { 
    margin: 20px auto;
    background-color: #f0e6f4;
    border-radius: 50px;    
    padding: 20px;
    padding-left: 50px; 
    padding-right: 50px; 
    display: flex;
    justify-content: space-between;
    max-width: 80vw;
    gap: 10px;
}

.book-info, .product-details {
    flex: 1; 
    max-width: 100%; 
}

.light-text {
    font-weight: normal;
}

.book-details {
    flex: 2;
    padding-left: 20px;
}

.quantity-selector {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.quantity-btn {
    background-color: white;
    color: #385729;
    border-radius: 20px;
    padding: 5px 15px;
    border: 2px solid #385729;
    cursor: pointer;
    margin: 0;
}

.quantity-input {
    width: 50px;
    text-align: center;
    margin: 0 10px;
    padding: 5px;
    border-radius: 20px;   
    margin: 0;
}

.quantity-info {
    margin-left: 20px;
}

.action-buttons button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}

.buy-now {
    background-color: #385729;
    border-radius: 20px;
    color: white;
    padding: 10px 20px;
    border: 2px solid #385729;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.add-to-cart {
    background-color: white;
    border-radius: 20px;
    color: #385729;
    padding: 10px 20px;
    border: 2px solid #385729;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.related-products {
    text-align: center;
    padding: 20px;
}

.related-products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.product-card {
    text-align: center;
}

.product-card img {
    max-width: 60%;
    height: auto;
}
